<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enorth.dns.dnshosts.dao.groupDao">
    <resultMap id="groupResultMap" type="com.enorth.dns.dnshosts.vo.groupVo">
        <id column="group_id" property="groupId" jdbcType="INTEGER"/>
        <result column="group_name" property="groupName" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="list_order" property="listOrder" jdbcType="INTEGER"/>
        <result column="mod_user_id" property="modUserId" jdbcType="VARCHAR"/>
        <result column="mod_user_name" property="modUserName" jdbcType="VARCHAR"/>
        <result column="mod_date" property="modDate" javaType="date"/>
    </resultMap>
    <!--查询所有-->
    <select id="getAllGroup" resultMap="groupResultMap">
        select * from t_group where state > -1 order by list_order;
    </select>
    <!--分页查询-->
    <select id="getGroups" resultMap="groupResultMap">
        select * from t_group where state > -1 order by list_order limit ${startData},${pageSize};
    </select>
    <!--id获取数据-->
    <select id="getGroupById" resultMap="groupResultMap">
        select * from t_group where group_id =#{groupId};
    </select>
    <!--模糊查询-->
    <select id="getLikeGroup" resultMap="groupResultMap">
        select  * from t_group where state > #{state} and group_name like '%${groupName}%' order by list_order;
    </select>
    <select id="getLikeGroups" resultMap="groupResultMap">
        select  * from t_group where state > #{state} and group_name like '%${groupname}%' order by list_order limit ${startData},${pageSize};
    </select>
    <insert id="insertGroup" parameterType="com.enorth.dns.dnshosts.vo.groupVo">
        insert into t_group (group_id,group_name,list_order,state,mod_user_id,mod_user_name,mod_date)
        values (#{groupId},#{groupName},#{listOrder},#{state},#{modUserId},#{modUserName},#{modDate});
    </insert>
    <!--删除-->
    <update id="delGroup" parameterType="com.enorth.dns.dnshosts.vo.groupVo">
        update t_group set state = -1,mod_user_id=#{modUserId},mod_user_name=#{modUserName},mod_date=#{modDate} where group_id=#{groupId};
    </update>
    <!--启用/禁用-->
    <update id="updateGroup" parameterType="com.enorth.dns.dnshosts.vo.groupVo">
        update t_group set state= #{state},mod_user_id=#{modUserId},mod_user_name=#{modUserName},mod_date=#{modDate} where group_id =#{groupId};
    </update>
    <!--修改-->
    <update id="modifyGroup" parameterType="com.enorth.dns.dnshosts.vo.groupVo">
        update t_group set state= #{state},group_name=#{groupName},mod_user_id=#{modUserId},mod_user_name=#{modUserName},mod_date=#{modDate} where group_id =#{groupId};
    </update>
</mapper>